server:
  port: 9193

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oauthdb?createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver
    initialization-mode: always  #to execute schema.txt and data.txt after executing rename those to txt files
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true

logging:
  level:
    org:
      hibernate:
        type: trace
